* {box-sizing: border-box;}

body {
  margin: 0 0 60px 0;
  min-height: 100%;
}

.custom-flex{
  display: flex;
  justify-content: center;
}
.flex-align {
  align-items: center;
}

.center-text {
  text-align: center;
}

.hidden {display: none;}

.success {color: #5cb85c}
.danger {color: #d9534f}

/* HomePage */
.home {
  color: #fff;
  height: 100vh;
  background: #333;
  font-size: 1.3em;
  margin-bottom: 60px;
}
.featuredEvent {
  width: 100%;
  padding: 6px 0 10px 0;
  margin: 0;
}
.featuredEvent h2 {margin: 0; padding: 5px;}
.featuredEvent .event-text {margin: 3px 0;}

.home .aboutText {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
/* End homePage */
/* Drink App page */
.drinkApp {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.drinkApp .drinkAppChoices {
  width: 100%;
  height: 100vh;
  justify-content: space-around !important;
}
.drinkApp .drinkAppChoices button {margin: 20px;}

.particles {
  position: relative;
  z-index: -5;
}
/* End Drink App page */
/* About page */
.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: lightpink;
}
.about-container .left,
.about-container .right {
  width: 50%;
  margin: 0;
  max-width: 550px;
  background: #fff;
}

.about-container .right img,
.about-container .left img {
  width: 100%;
  padding: 0 !important;
}

.about-container .left .left-text,
.about-container .right .right-text {
  padding: 20px;
  font-size: 20px;
}
/* End about page */
/* Store page */
.store {padding-bottom: 20px;}

.store .card {
  height: 450px;
  margin: 15px auto;
  max-width: 380px;
}
.store .card .card-header {font-size: 18px;}
.store .card-body {
  display: flex;
  flex-wrap: wrap;
}

.store img {
  width: 100%;
  max-width: 450px;
  height: 300px;
}

.store .card-body h3 {
  margin: 15px;
  width: 100%;
  text-align: center;
}

.store .filter-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.store select {
  width: 150px;
  margin: 12px;
}
/* End Store page */
/* product details page */
.product-details-container {
  width: 90%;
  margin: 10px auto;
}

.product-details-container img {
  width: 100%;
}

.product-details-container .card.card-body {
  padding: 10px;
  background: lightcyan;
}

.product-details-container .card.card-body .customBtn {
  height: 38px;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.product-details-container .card.card-body ul li .custom-row {
  display: flex;
  justify-content: space-between;
}

.product-details-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* End product details page */

@media only screen and (max-width: 900px) {
  .about-container {
    display: initial;
  }

  .about-container .left, 
  .about-container .right {
    width: 100%;
    margin: 0 auto;
  }
}