* {box-sizing: border-box;}

#root {
  height: 100%;
}

body {
  margin: 0 0 60px 0;
  min-height: 100%;
}


.custom-flex{
  display: flex;
  justify-content: center;
}
.flex-align {
  align-items: center;
}

.center-text {
  text-align: center;
}

.hidden {display: none !important;}

.success {color: #5cb85c}
.danger {color: #d9534f}

.min-250 {
  min-width: 250px;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.custom-row.top {
  align-items: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-col-2 {
  flex: 2 1 50rem;
}
.custom-col-1 {
  flex: 1 1 25rem;
}

/* Images */
  img.small {
    max-width: 100px;
    width: 100%;
  }
/* End of iamges */

/* HomePage */
.home {
  color: #fff;
  height: 125vh;
  /* background: #333; */
  /* background: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(38,122,43,1) 94%, rgba(0,94,24,1) 100%); */
  /* background: radial-gradient(circle, rgba(0,0,0,1) 81%, rgba(38,122,43,1) 92%, rgba(0,94,24,1) 100%); */
  /* background: radial-gradient(circle, rgba(110,108,108,1) 49%, rgba(0,0,0,1) 100%); */
  /* background: radial-gradient(circle, rgba(50,50,50,1) 68%, rgba(0,0,0,1) 100%); */
  /* background: rgb(30,30,30); */
  background: radial-gradient(circle, rgba(30,30,30,1) 68%, rgba(0,0,0,1) 100%);
  font-size: 1.3em;
  margin-bottom: 60px;
  font-family: 'KoHo', sans-serif;
}
.featuredEvent {
  width: 100%;
  padding: 6px 0 10px 0;
  margin: 0;
}
.featuredEvent h2 {margin: 0; padding: 5px;}
.featuredEvent .event-text {margin: 3px 0;}

.home .aboutText {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  /* font-family: 'KoHo', sans-serif !important; */
}

.reactShotGlass:hover{
  color: rgb(131, 255, 107) !important; 
}

.reactShotGlass {
  color: rgb(105,150,85) !important;
}

.vsCodeOrange {
  color: rgb(238, 158, 101) !important;
}

.vsCodePurple {
  color: rgb(218,112,214) !important;
}

.vsCodeDarkBlue {
  color: rgb(45, 100, 220) !important;
}

.vsCodeLightYellow {
  color: rgb(245, 245, 173) !important;
}

.vsCodeLightPurple {
  color: rgb(160,120,200) !important;
}

.vsCodeGreen {
  color: rgb(105,150,85) !important;
}

.vsCodeLightBlue {
  color: rgb(130, 209, 252) !important;
}
/* End homePage */
/* Drink App page */
.drinkApp {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.drinkApp .drinkAppChoices {
  width: 100%;
  height: 100vh;
  justify-content: space-around !important;
}
.drinkApp .drinkAppChoices button {margin: 20px;}

.particles {
  position: relative;
  z-index: -5;
}
/* End Drink App page */
/* About page */
.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: lightpink;
}
.about-container .left,
.about-container .right {
  width: 50%;
  margin: 0;
  max-width: 550px;
  background: #fff;
}

.about-container .right img,
.about-container .left img {
  width: 100%;
  padding: 0 !important;
}

.about-container .left .left-text,
.about-container .right .right-text {
  padding: 20px;
  font-size: 20px;
}
/* End about page */
/* Store page */
.store {
  padding-bottom: 20px;
  background: radial-gradient(circle, rgba(30,30,30,1) 68%, rgba(0,0,0,1) 100%);

}

.store .card {
  height: 450px;
  margin: 15px auto;
  max-width: 380px;
  font-family: 'KoHo', sans-serif !important;

}
.store .card .card-header {font-size: 18px;}
.store .card-body {
  display: flex;
  flex-wrap: wrap;
}

.store img {
  width: 100%;
  max-width: 450px;
  height: 300px;
}

.store a {
  color: inherit;
  text-decoration: none;
}

.store .card-body h3 {
  margin: 15px;
  width: 100%;
  text-align: center;
}

.store .filter-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.store select {
  width: 150px;
  margin: 12px;
}
/* End Store page */
/* product details page */
.product-details-container {
  width: 90%;
  margin: 10px auto;
}

.product-details-container img {
  width: 100%;
}

.product-details-container .card.card-body {
  padding: 10px;
  background: lightcyan;
}

.product-details-container .card.card-body .customBtn {
  height: 38px;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.product-details-container input,
.product-details-container select,
.product-details-container textarea {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #a4a4a4;
  font-family: Helvetica, Arial, sans-serif;
}

.product-details-container input:hover,
.product-details-container select:hover,
.product-details-container textarea:hover,
.product-details-container button:hover {
  border: 0.1rem solid #0ea7ff;
}

/* End product details page */
/* Cart page */
.cart-container, .cart-container.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cart-container h1 {
  margin: 20px;
  text-align: center;
}

.cart-container .customBtn {
  height: 38px;
}

.cart-container h2 {
  font-size: 26px;
}
/* End cart page */

/* Menu Page */
.titleMenu {
  display: flex;
  justify-content: center;
  height: 120px;
  font-size: 32px;
  align-items: center;
  color: white;
}

.foodHeaders {
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.changeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white !important; 
}

#checkboxInput {
  margin: 5px;
}
/* End of Menu Page */

/* Shipping */
.form-shipping {
  width: 100%;
}
.form-shipping label,
.form-shipping input,
.form-shipping select {
  display: block !important;
  width: 100%;
}

.form-shipping > div {
  width: 60%;
  max-width: 750px;
}

.form-shipping .btn {
  width: 100%;
}

.form-shipping label {
  margin-bottom: 6px;
}
.form-shipping input,
.form-shipping select {
  margin-bottom: 12px;
  padding: 4px 2px;
  background: rgb(236, 255, 255);
  border: 1px solid gray;
  border-radius: 4px;
}
/* End shipping */
/* Payment */
.form-payment {width: 100%;}
.form-payment label {
  margin: 0 0 10px 10px;
}

.form-payment div > div > div:nth-child(1) {
  padding-top: 12px;
}
.form-payment div > div > div:nth-child(2) {
  padding-top: 6px;
  padding-bottom: 12px;
}
/* End payment */
/* Place Order screen */
.place-order li,
.place-order li > div,
.place-order .custom-col-1 .card {
  background: rgb(231, 253, 253);
  border-radius: 8px;
}

.place-order li,
.place-order .custom-col-1 .card {
  margin: 6px 8px;
}
/* End place order */

/* Admin Page */
.adminPage{
  width: 100%;
  background: linear-gradient(to top left, rgb(59, 255, 72) 15%, 35%, black 80%);
  min-height: 100vh;
}

.admin-options {
  background:rgb(209, 255, 255);
  max-width: 800px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
  position: relative;
  top: 75px;
}

.admin-btn {
  border: none;
  background: none;
  color: #111;
  cursor: pointer;
  margin: 6px 5px;
}
/* End Admin page */

@media only screen and (max-width: 900px) {
  .about-container {
    display: initial;
  }

  .about-container .left, 
  .about-container .right {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .cart-container, .cart-container.row {margin: 0;}
  .cart-container .col-lg-8 {
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin: 0 !important;
  }
  .cart-container .custom-row,
  .cart-container .flex-align{
    display: block !important;
    padding: 2px 8px;
    margin: 10px auto;
    text-align: center;
  }

  .cart-container li {position: relative;}

  .cart-container li::after {
    content: "";
    width: 100%;
    height: 2px;
    background: teal;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  .cart-container li:last-child:after {
    display: none;
  }

  .cart-container .min-250 {
    min-width: initial;
  }

  .cart-container .col-lg-3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}