* {box-sizing: border-box;}

html, body, #root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}

.custom-flex{
  display: flex;
  justify-content: center;
}
.flex-align {
  align-items: center;
}

.center-text {
  text-align: center;
}

.hidden {display: none;}

/* HomePage */
.home {
  background: #333;
  color: #fff;
  height: 100%;
  font-size: 1.3em;
}
.featuredEvent {
  width: 100%;
  padding: 6px 0 10px 0;
  margin: 0;
}
.featuredEvent h2 {margin: 0; padding: 5px;}
.featuredEvent .event-text {margin: 3px 0;}

.home .aboutText {
  width: 80%;
  margin: 15px auto;
  padding: 10px;
}
/* End homePage */
/* Drink App page */
.drinkApp {
  width: 100%;
  height: 100%;
}

.drinkApp .drinkAppChoices {
  width: 100%;
  height: 100vh;
  justify-content: space-around !important;
}
.drinkApp .drinkAppChoices button {margin: 20px;}

.particles {
  position: relative;
  z-index: -5;
}
/* End Drink App page */