.header h1 {
    margin: 0;
    padding: 10px 5px 6px 5px;
}

.header {
    margin: 0 auto;
}

.homePageLogo {
    height: 100px;
    width: 200px;
    /* background: url('../public/Images/codePubLogo.png'); */
    background-size: cover;
}